# ============================
# 1. 核心忽略
# ============================
build/
_notes/

# ============================
# 2. VS 赖在根目录不走的缓存 (必须忽略！)
# ============================
.vs/

# ============================
# 3. 用户个人配置 (必须忽略！)
# ============================
*.user
*.suo
*.opensdf
*.sdf
*.aps

# ============================
# 4. 操作系统垃圾
# ============================
Thumbs.db
.DS_Store